<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.edgeperformance.edge">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EdgePerformance"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Activities.SleepTrackerActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.NutritionActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".Activities.BodyFatActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".MorningRoutine.IntentionDetailsActivityM"
            android:exported="false" />
        <activity
            android:name=".EveningRoutine.CheckInActivityE"
            android:exported="false" />
        <activity
            android:name=".EveningRoutine.ReflectionActivityE"
            android:exported="false" />
        <activity
            android:name=".EveningRoutine.ValuesActivityE"
            android:exported="false" />
        <activity
            android:name=".EveningRoutine.OwnershipActivityE"
            android:exported="false" />
        <activity
            android:name=".EveningRoutine.BreathworkActivityE"
            android:exported="false" />
        <activity
            android:name=".EveningRoutine.SummaryActivityE"
            android:exported="false" />
        <activity
            android:name=".MorningRoutine.SummaryActivityM"
            android:exported="false" />
        <activity
            android:name=".MorningRoutine.IntentionActivityM"
            android:exported="false" />
        <activity
            android:name=".MorningRoutine.BreathWorkActivityM"
            android:exported="false" />
        <activity
            android:name=".MorningRoutine.ActivationJournalActivityM"
            android:exported="false" />
        <activity
            android:name=".MorningRoutine.CheckInActivityM"
            android:exported="false" />
        <activity
            android:name=".Activities.GoalsActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.ValuesActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.PlayerActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.AudioListActivity"
            android:exported="false" />
        <activity
            android:name=".Authentication.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Authentication.SignUpActivity" />
        <activity android:name=".Authentication.PasswordRecoveryActivity" />
        <activity android:name=".Authentication.InformationActivity" />
        <activity
            android:name=".Activities.SettingsActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true" />
        <activity
            android:name=".Activities.NotificationActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>